body{
    background-color: rgb(126, 126, 126);
    text-align: center;
}

#login_register{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

#identification, #inscription{
    padding-left: 50px;
    padding-right: 50px;
    height: 300px;
    border: solid rgb(53, 53, 53);
    border-radius: 20px;
    background-color: rgba(150, 150, 150, 0.548);

}

.form-element{
    display: flex;
    flex-direction: column;
}

#return{
    position: absolute;
    top: 5px;
    left: 10px;
}

#return_home_img{
    width: 40px;
    height: 40px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input{
    width: 200px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.514);

}

#bouton_valide{
    margin-top: 10px;
    width: fit-content;
}